<h1 class="nt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>

                </tr>
            </thead>
            <tr>
                <td> {{ nombre }} </td>
                <td> </td>
                <td> </td>
            </tr>

        </table>

    </div>
</div>